@font-face {
  font-family: 'DjqifsVF';
  src: url('~assets/fonts/DjqifsVF.woff') format('woff'), url('~assets/fonts/DjqifsVF.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
